{% extends "myapp/base.html" %}

{% block title %} SongDetailedview {% endblock %}


{% block content %}
<div class="container">
 <h1>Album name: {{album_instance.album_name }}</h1>
 <h3><caption>Song Detailed view</caption></h3>
    <div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">

            <tr>
                        <th><span>Song ID</span></th>
                        <th><span>Song Name</span></th>
                        <th><span>Artist Name</span></th>
                        <th><span>User Rating</span></th>
                        <th><span>Views</span></th>
            </tr>

            <tr>
                        <th><span>{{ song_info.song_id}}</span></th>
                        <th><span>{{ song_info.song_name}}</span></th>
                        <th><span>{{ song_info.artist_name }}</span></th>

            <th>
{% if rating %}
    <form method="POST">
        {% csrf_token %}
        {% for i in values %}
                {% if i == rating %}
                    <input type="radio" name="userrating" value="{{ i }}" Checked>
                {% else %}
                    <input type="radio" name="userrating" value="{{ i }}">
                {% endif %}
        {% endfor %}


        <button type="submit" class="btn btn-success">submit</button>


    </form>
</th>

{% else %}
    <form method="POST">
            {% csrf_token %}

                    <input type="radio" name="userrating" value="1" >
                    <input type="radio" name="userrating" value="2" >
                    <input type="radio" name="userrating" value="3" >
                    <input type="radio" name="userrating" value="4" >
                    <input type="radio" name="userrating" value="5" >


                    <button type="submit" class="btn btn-success">submit</button>


                </form>


{% endif %}
                    <th><span>{{ song_info.view_count }}</span></th>

                    </tr>


</table>
        </div>
    </div>
{% endblock %}




